<footer>
        <div class="socials">
            <div class="icons">
                <i class="pi pi-facebook"></i>
                <i class="pi pi-twitter"></i>
                <i class="pi pi-discord"></i>
                <i class="pi pi-reddit"></i>
                <i class="pi pi-linkedin"></i>
            </div>
        </div>
        <div class="info">
            <div class="hotel-res">
                <a href="">
                    <img src="assets/header/hotel-res.svg" alt="hotel-res">
                    <span>
                        HOTELRES.GE
                    </span>
                </a>
            </div>
            <span class="rights-reserved"> {{ 'rights' | translate }} </span>
            <div class="links">
                <a href=""> {{ 'hotels' | translate }} </a>
                <a href=""> {{ 'favorites' | translate }} </a>
                <a href=""> {{ 'about' | translate }} </a>
            </div>
        </div>
</footer>


