<header>
    <div class="hotel-res">
        <img src="assets/header/hotel-res.svg" alt="hotel-res">
        <span>
            HOTEL-RESERVATION
        </span>
    </div>
    <div class="navbar">
        <nav>
            <ul>
                <li>
                    <a routerLink="/home">{{ 'home' | translate }}</a>
                </li>
                <li>
                    <a routerLink="/hotels">{{ 'hotels' | translate }}</a>
                </li>
                <li>
                    <a routerLink="/about">{{ 'about' | translate }}</a>
                </li>
            </ul>
        </nav>
        <div class="user">
            <p-button icon="pi pi-user" severity="help" (click)="toggleSidebar()"></p-button>
            <p-button icon="pi pi-language" severity="help" [text]="true" (click)="switchLanguage()"></p-button>
        </div>
        <div class="sidebar" [ngClass]="{'open': showSidebar}">
            <div class="close-button" (click)="toggleSidebar()">
                <i class="pi pi-times"></i>
            </div>
            <div class="content">
                <img style="width: 200px;" src="https://www.svgrepo.com/show/509003/avatar-thinking-6.svg" alt="avatar">
                <span>Login or create an account</span>
                <div class="form">
                    <form [formGroup]="loginForm">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-envelope"></i>
                            </span>
                            <input pInputText placeholder="Email" formControlName="email" />
                        </div>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-lock"></i>
                            </span>
                            <input pInputText placeholder="Password" formControlName="password" />
                        </div>
                        <p-button label="Login" severity="help"></p-button>
                    </form>
                </div>
                <span>Or</span>
                <p-button label="Create Account" severity="help" [text]="true"></p-button>
            </div>
        </div>
    </div>
</header>