<div class="card">
    <div class="image">
        <img src="https://images.pexels.com/photos/164595/pexels-photo-164595.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="hotel">
    </div>
    <div class="info">
        <span class="title"> ქირავდება ახალი აშენებული ბინა საბურთალოზე</span>
        <div class="main-parts">
            <span class="price" *ngIf="currency === 'gel' ">{{price}}</span>
            <span class="price" *ngIf="currency === 'usd' ">{{priceInUsd.toFixed(2)}}</span>
            <div class="currency">
                <button class="currency-button" [ngClass]="{ 'active': currency === 'usd' }" (click)="changetoUsd()">$</button>
                <button class="currency-button" [ngClass]="{ 'active': currency === 'gel' }" (click)="changeToGel()">₾</button>
            </div>
        </div>
        <div class="amenities">
            <div class="amenity">
                <p>7</p>
                <span class="material-symbols-outlined">floor</span>
            </div>
            <div class="amenity">
                <p>2</p>
                <span class="material-symbols-outlined">bed</span>
            </div>
            <div class="amenity">
                <p>4</p>
                <span class="material-symbols-outlined">door_front</span>
            </div>
            <div class="amenity">
                <p>67{{ 'm2' | translate }} </p>
                <span class="material-symbols-outlined">check_box_outline_blank</span>
            </div>
        </div>
        <p>დიმ.ბაქრაძის ქ.</p>
    </div>
</div>