<div class="card">
    <div class="image">
        <img [src]="property.photos[0]" alt="hotel">
        <div class="vip-logo" *ngIf="property.vip">VIP</div>
    </div>
    <div class="info">
        <span class="title"> {{ property.name }} </span>
        <div class="main-parts">
            <span class="price" *ngIf="currency === 'gel' ">{{property.pricePerNight}}</span>
            <span class="price" *ngIf="currency === 'usd' ">{{(property.pricePerNight / 2.7).toFixed(2)}}</span>
            <div class="currency">
                <button class="currency-button" [ngClass]="{ 'active': currency === 'usd' }" (click)="changetoUsd()">$</button>
                <button class="currency-button" [ngClass]="{ 'active': currency === 'gel' }" (click)="changeToGel()">₾</button>
            </div>
        </div>
        <div class="amenities">
            <div class="amenity">
                <p>{{property.floorNumber}}</p>
                <span class="material-symbols-outlined">floor</span>
            </div>
            <div class="amenity">
                <p>{{property.bedRoom}}</p>
                <span class="material-symbols-outlined">bed</span>
            </div>
            <div class="amenity">
                <p>4</p>
                <span class="material-symbols-outlined">door_front</span>
            </div>
            <div class="amenity">
                <p> {{property.squareMeter}} {{ 'm2' | translate }} </p>
                <span class="material-symbols-outlined">check_box_outline_blank</span>
            </div>
        </div>
        <p>{{property.location}}</p>
    </div>
</div>